:root,
:root.light {
  --bgDark: #b2b5e0;
  --Dark: #9498c9;
  --bgLight: #c5adc5;
  --textDark: #c5adc5;
  --textLight: #c5adc5;
  --pure: #fefefe;
  --font: "Audiowide", sans-serif;
}
:root.dark {
  --bgDark: #0f0e0f;
  --bgLight: #212529;
  --textDark: #0dcaf0;
  --textLight: #fefefe;
  --pure: #0dcaf0;
  --font: "Audiowide", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-image: linear-gradient(90deg, var(--bgDark), var(--bgLight));
  font-family: var(--font);
  min-width: fit-content;
  max-width: 100%;
}

/*FLASH BLOCK*/
ul#flash-block {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  list-style: none;
  background-color: var(--textLight);
  position: relative;
  top: -20px;
  color: var(--pure);
  font-size: 1rem;
}

ul#flash-block button {
  background: var(--bgDark);
  border: none;
  border-radius: 50%;
  color: var(--pure);
  font-size: 0.8rem;
  font-weight: 800;
  padding: 8px;
  box-shadow: -1px 2px var(--pure);
}

ul#flash-block button:hover {
  color: var(--pure);
  text-shadow: -1px 1px 1px var(--pure);
}

/*NAVBAR index.html*/

nav {
  background-color: var(--Dark);
  color: var(--textDark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10% 0;
  box-shadow: 0 10px 8px -1px var(--bgLight);
  margin-bottom: 25px;
  font-size: 1.5rem;
}

/*UTILS*/

.center {
  margin: 0 auto;
  text-align: center;
}

.go {
  color: var(--pure);
  text-shadow: -1px 1px 3px limegreen;
}
.stop {
  color: var(--pure);
  text-shadow: -1px 1px 3px red;
}

.text-glow {
  color: var(--pure);
  text-shadow: -1px 1px 3px var(--pure);
}

.text-small {
  font-size: 0.8rem;
  text-shadow: none;
  color: var(--pure);
}

.btn {
  color: var(--pure);
  font-weight: 800;
  border: 1px solid var(--pure);
  border-radius: 15px;
  background-color: var(--textDark);
  padding: 10px;
  text-decoration: none;
}

.btn-block {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* index.html form styles */

form#studentRegistration {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  width: 70vw;
  background-color: var(--bgLight);
  border-radius: 15px;
  padding: 15% 5%;
  margin: 12% auto;
  box-shadow: 8px 8px 2px 2px rgba(0, 0, 0, 0.2);
}

form#studentRegistration input {
  font-size: 1.6rem;
  background-color: var(--textLight);
  color: var(--pure);
}

form#studentRegistration input[type="submit"] {
  background-color: var(--bgDark);
  width: 50%;
  align-self: center;
  font-size: 1.2rem;
  border-width: 4px;
  border-radius: 35px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}
form#studentRegistration input[type="submit"]:active {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transform: translate(2px, 2px);
}

/*dash.html*/
.greeting-block {
  text-align: center;
  position: relative;
}

#masterRingSet {
  position: relative;
}

svg#masterRing {
  stroke-width: 15;
  stroke: #000;
  fill: none;
  padding: 2%;
  position: relative;
}
p#masterPoints {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
}

form#register-student-form {
  text-align: center;
  margin-bottom: 25px;
}

ul#student-queue {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  list-style: none;
}

ul#student-queue li {
  text-align: start;
  width: 100%;
}

/*platform.html*/

.rings {
  text-align: center;
  margin: 5% auto 0 auto;
}

svg.cir {
  stroke-width: 10;
  stroke: #000;
  fill: none;
  padding: 2%;
  position: absolute;
  top: 0;
  left: 0;
}

.rings > .ring {
  background-image: linear-gradient(90deg, var(--bgLight), var(--bgDark));
  width: 350px;
  margin: 0 auto 15px auto;
  padding: 2%;
  border: 1px solid var(--pure);
  position: relative;
}

.rings > .ring > .circle {
  width: 300px;
  height: 300px;
  font-size: 1.5rem;
  border: 2px solid var(--pure);
  border-radius: 50%;
  text-align: center;
  padding-top: 50%;
  margin: 15px auto 15px auto;
}

.rings > .ring > .user-block {
  color: var(--pure);
  line-height: 2;
}

.rings > .ring > .user-block > strong {
  font-size: 2.2rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.controller-btn {
  font-weight: 900;
  width: 80px;
  height: 40px;
  color: var(--pure);
}

.controller-btn.add {
  background-color: var(--bgLight);
  border-radius: 0 35px 35px 0;
}
.controller-btn.sub {
  background-color: var(--bgDark);
  border-radius: 35px 0 0 35px;
}

/*comment*/

/*svg sandbox*/
svg#testvg {
  border-radius: 50%;
  padding: 0;
}
svg#testvg circle {
  stroke: var(--pure);
  stroke-width: 4px;
  fill: none;
  stroke-dasharray: 1.8px;
}
.rotate {
  animation: rotate 3s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
