.btnBlock {
  display: flex;
  gap: 2px;
  border: 2px solid var(--pastelPink);
  border-radius: 35px;
  background-color: var(--pastelPink);
}

.btn:first-child {
  border-radius: 35px 0 0 35px;
}
.btn:last-child {
  border-radius: 0 35px 35px 0;
}
