:root,
:root.light {
  --primary1: #7045af;
  --primary2: #e14594;
  --textPrimary: #e14594;
  --textSecondary: #e7e7e7;
  --secondary1: #fefefe;
  --secondary2: #2b3595;
  --font: "Audiowide", sans-serif;
}
:root.dark {
  --primary1: #0f0e0f;
  --primary2: #212529;
  --textPrimary: #0dcaf0;
  --secondary1: #fefefe;
  --secondary2: #0dcaf0;
  --font: "Audiowide", sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-image: linear-gradient(180deg, var(--primary1), var(--primary2));
  color: var(--textSecondary);
  font-family: var(--font);
  width: 100%;
  height: 100svh;
}

/*-----Utils-----*/
.text-decoration {
  color: var(--textPrimary);
}
.text-centered {
  text-align: center;
}
