<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--import stylesheet-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!--import vuejs-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--import HTMX-->
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <!--import fontawesome-->
    <script
      src="https://kit.fontawesome.com/32fa155dce.js"
      crossorigin="anonymous"
    ></script>
    <!--import fonts 'google fonts'-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %}classRing{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a class="text-glow text-centered" href="{{ url_for('main.dash') }}">
        <h1>classRing</h1>
      </a>
    </nav>
    {% with messages = get_flashed_messages() %}
    <ul id="flash-block">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
      <button id="flash-close-btn" onclick="close_flash()">X</button>
    </ul>
    {% endwith %} {% block content %}{% endblock %}
  </body>
  <script>
    const flasher = document.getElementById("flash-block");
    const flash_btn = document.getElementById("flash-close-btn");
    setTimeout(close_flash, 2500);
    function close_flash() {
      flasher.remove();
      flash_btn.remove();
    }
    if (flasher.children.length <= 1) {
      close_flash();
    }
  </script>
</html>
