<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--import stylesheet-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!--import vuejs-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--import fontawesome-->
    <script
      src="https://kit.fontawesome.com/32fa155dce.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}classRing{% endblock %}</title>
  </head>
  <body>
      <nav>
        <a href="{{ url_for('main.dash') }}">
          <h1>classRing</h1>
        </a>
        <i class="fa-solid fa-bars"></i>
      </nav>
    {% with messages = get_flashed_messages() %} {% for message in messages %}
    <ul>
      <li>{{ message }}</li>
    </ul>
    {% endfor %} {% endwith %} {% block content %}{% endblock %}
    
  </body>
</html>
