{% extends "base.html" %} {% block title %} {{ current_user.name }}'s
Dashboard{% endblock %} {% block content %}
<p>
  Hello, {{ current_user.name }}: {{ current_user.current_value }}/{{
  current_user.target_value }}
</p>
<h3>Register Students</h3>
<p>Enter student names to create daily Ring</p>

<form method="post">
  {{ form.csrf_token }} {{ form.name }} {{ form.submit }}
</form>

<ul>
  {% for student in students %}
  <li>
    {{ student.id }} {{ student.name }}: {{ student.ring.current_value }}/{{
    student.ring.target_value }} &nbsp;&nbsp;<a
      href="{{ url_for('main.delete', sid=student.id) }}"
      ><i class="fa-regular fa-trash-can"></i>
    </a>
    {% if student.is_active is sameas true %}
    <p>Status: active</p>
    {% else %}
    <p>Status: waiting...</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<a href="{{ url_for('main.platform') }}"><button>Start Game</button></a>
<br /><br />
<a href="{{ url_for('main.login') }}">Logout</a>

{% endblock %}
