{% extends "base.html" %} {% block title %}classRing Arena{% endblock %} {%
block content %}
<div class="rings">
  {% for student in students %}
  <div class="ring">
    <div class=" circle circle-for-{{ student.id }}">
        
      {% include 'circles.html' %}
      <svg id="circular" width="350" height="350">
        <circle id="circ" r="150" cx="50%" cy="50%" />
    </svg>
    </div>
    <div class="user-block">
      <strong>{{ student.name }}</strong>
      <div class="controller-block">
        <a
          hx-post="{{ url_for('main.update', sid=student.id, val='sub') }}"
          hx-target=".circle-for-{{ student.id }}"
          hx-trigger="click"
          ><button class="controller-btn sub" data-value="sub">-</button></a
        >
        <a
          hx-post="{{ url_for('main.update', sid=student.id, val='add') }}"
          hx-target=".circle-for-{{ student.id }}"
          hx-trigger="click"
          ><button class="controller-btn add" data-value="add">+</button></a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<a class="btn center" href="{{ url_for('main.countPoints') }}">Load Points</a>


<script>
    svg = document.getElementById("circ");
    svg.style.strokeDashoffset = "{{ students[0].current_value }}";
</script>

{% endblock %}
