{% extends "base.html" %} {% block title %}classRing Arena{% endblock %} {%
block content %}
<div class="rings">
  {% for student in students %}
  <div class="ring">
    <div class=" circle circle-for-{{ student.id }}">
      {% include 'circles.html' %}
    </div>
    <div class="user-block">
      <strong class="cardHeader cardHeader{{ student.name }}"
        >{{ student.name }}</strong
      >
      <div class="controller-block">
        <a
          hx-post="{{ url_for('main.update', sid=student.id, val='sub') }}"
          hx-target=".circle-for-{{ student.id }}"
          hx-trigger="click"
          ><button
            onclick="setProgress({{ loop.index -1 }})"
            class="controller-btn sub"
            data-value="sub"
          >
            -
          </button></a
        >
        <a
          hx-post="{{ url_for('main.update', sid=student.id, val='add') }}"
          hx-target=".circle-for-{{ student.id }}"
          hx-trigger="click"
          ><button
            onclick="setProgress({{ loop.index - 1 }})"
            class="controller-btn add"
            data-value="add"
          >
            +
          </button></a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<a class="btn center" href="{{ url_for('main.countPoints') }}">Load Points</a>

<script defer>
  const xhr = new XMLHttpRequest();
  xhr.open("GET", "{{ url_for('main.get_current_points', sid=6) }}");
  xhr.onload = function () {
    if (this.status == 200) {
      console.log(this.responseText);
    }
  };

  xhr.send();

  let progressCircle = document.querySelectorAll(".circ");
  //let score = document.querySelectorAll("span.current_score");
  //let radius = progressCircle.r.baseVal.value;
  // let circumference = radius * 2 * Math.PI;
  //progressCircle.style.strokeDasharray = circumference;

  //function setProgress(index) {
  //  percent = scores[index];
  //  progressCircle.style.strokeDashoffset =
  //   circumference - (percent / 100) * circumference;
  // }
</script>
{% endblock %}
