{% extends "base.html" %}
{% block title %}Create Ring{% endblock %}

{% block content %}


<div class="row pt-5 w-50 mx-auto border text-center">
    <h3 class="text-center pb-3">Let's make a ring!</h3>
    <form action="{{ url_for('main.create_ring') }}" method="POST">
        {{ form.csrf_token }}
        <div class="form-group pb-3">
            {{ form.title.label }}
            {{ form.title(size=32) }}
        </div>
        <div class="form-group pb-3">
            {{ form.category.label }}
            {{ form.category(size=32) }}
        </div>
        <div class="form-group pb-3">
            {{ form.due_date.label }}
            {{ form.due_date(size=32) }}
        </div>
        <div class="form-group pb-3">
            {{ form.value.label }}
            {{ form.value(size=32) }}
        </div>
        <br>
        {{ form.submit() }}
    </form>
</div>

{% endblock %}